## This is a normal HTTP host which redirects all traffic to the HTTPS host.
server {
  listen *:80 default_server;
  server_name localhost;
  server_tokens off; ## Don't show the nginx version number, a security best practice
  root /nowhere; ## root doesn't have to be a valid path since we are redirecting
  rewrite ^ https://$server_name$request_uri permanent;
}

server {
    listen 443 ssl;
    listen [::]:443 default_server ipv6only=on;
    listen 443 ssl;

    root /usr/share/phpldapadmin/htdocs;
    index index.html index.php;

    # Make site accessible from http://localhost/
    server_name localhost;

    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;

    location / {
        try_files $uri $uri/ /index.php;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini

        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_index index.php;
        include fastcgi_params;
    }

}
